.main {
    width: 100%;
}

.resume_container {
    position: relative;
    max-width: 900px;
    border: 2px solid var(--secondary-color);
    min-height: 900px;
    display: flex;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    color: black;
    z-index: 1;
    animation: opacity 1.3s ease-out;
}

.sideBar {
    width: 40%;
    background-color: var(--primary-color);
    color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    animation: leftToRight 0.9s ease-out;
}

.mainContent {
    width: 60%;
    padding: 20px;
}

.profile {
    height: 200px;
    width: 200px;
    background-color: var(--secondary-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    animation: profileAnime 1.8s ease-out ;
}

.profile img {
    border-radius: 100%;
    width: 98%;
    height: 98%;
}

.sidebar_section {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: sideBarScetionAnime 1.7s  ease ;
}



.first_type {
    margin-top: 100px;
    animation:sideBarScetionAnime 1.4s ease ;

}

.sidebar_section .subheading {
    height: 41px;
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.sidebar_section .content {
    display: flex;
}

.sidebar_section .content img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.userInfo {
    max-height: 400px;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 40px;
    text-align: start;
}

.userInfo h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--main-text);
    animation: infoAnime 1.5s ease-out ;
}

.userInfo h2 {
    padding-top: 10px;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--main-text);
    margin-bottom: 20px;
    animation: infoAnime 1.8s ease-out ;

}
.mainContent .about{

    animation: sectionsAnime 2.2s ease-out ;
}
.mainContent .experience{
    animation: sectionsAnime 2.4s ease-out ;
}
.mainContent .education{

    animation: sectionsAnime 2.6s ease-out ;
}
.mainContent .certification{
    animation: sectionsAnime 2.8s ease-out ;
}
.about,
.experience,
.education,
.certification {
    width: 90%;
    margin-bottom: 30px;
}

.about h3,
.experience h3,
.education h3,
.certification h3 {
    font-size: 22px;
    color: var(--primary-color);
    margin-bottom: 10px;
    border-left: solid;
}

.collapse-btn {
    background-color: var(--primary-color);
    font-size: 1rem;
    color: white;
    border: none;
    margin-right: 10px;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

.experience h4,
.education h4,
.certification h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.collapse-title-box {
    display: flex;
}

.collapse-details {
    padding-left: 30px;
}

.experience .content,
.education .content,
.certification .content {
    margin-top: 30px;
}

.design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: designAnime 2s  ease-out ;
}

@keyframes leftToRight {
    0%{
        opacity: 0;
        transform: translate(-50%) ;
    }
    100%{
        opacity: 100%;
        transform: translate(0);
    }
    
}

@keyframes sectionsAnime {
    0%{
        opacity: 0;
        transform: translate(40%);
    }
    63%{
        opacity: 0;
        transform: translate(40%);
    }
    100%{
        opacity: 100%;
        transform: translate(0);
    }
    
}

@keyframes sideBarScetionAnime {
    0%{
        opacity: 0;
        transform: translateY(30%);
    }
    52.9%{
        opacity: 0;
        transform: translateY(30%);
    }
    100%{
        opacity: 100%;
        transform: translate(0);
    }
    
}

@keyframes profileAnime {
    0%{
        opacity: 0;
        transform: translateY(-30%);
    }
    44.4%{
        opacity: 0;
        transform: translateY(-30%);
    }
    100%{
        opacity: 100%;
        transform: translate(0);
    }
    
}

@keyframes infoAnime {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    66.6%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}
@keyframes opacity {
    0%{
        opacity: 0;
       
    }
    100%{
        opacity: 100%;
  
    }
    
}
@keyframes designAnime {
    0%{
        opacity: 0;
       
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
  
    }
    
}


@media screen and (max-width:700px) {
    .resume_container {
        transform: scale(0.5) translate(-450px);
        transform-origin: top left;
        left: 50%;
        width: 200%;
        height: auto;
    }

    .about,
    .experience,
    .education,
    .certification {
        width: 78%;
    }

}


@media screen and (max-width:450px) {
    .resume_container {
        transform: scale(0.3) translate(-450px);
        transform-origin: top left;
        left: 50%;
        width: 500%;

    }
}