/* For devices with a width of 768px or smaller (tablets) */
@media (max-width: 768px) {
    #design{
        display: none;
    }
    .resume-container {
        flex-direction: column;
        max-width: 100%;
        margin: 20px auto;
    }

    .sidebar, .main-content {
        width: 100%;
        padding: 100px;
    }

    .sidebar {
        border-top-left-radius: 0;
    }

    .profile_img_box {
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }
    .user_info{
        margin-top: 40px;
    }
    .user_info h1 {
        font-size: 2rem;
    }

    .user_info h2 {
        font-size: 1.2rem;
    }
}

/* For devices with a width of 480px or smaller (mobile phones) */
@media (max-width: 480px) {
    .resume-container {
        margin: 10px;
        box-shadow: none;
    }
    .sidebar {
        padding: 0;
    }
    .main-content{
        padding: 20px;
    }
   

    .user_info h1 {
        font-size: 1.5rem;
    }

    .user_info h2 {
        font-size: 1rem;
    }

    h3, h4 {
        font-size: 1rem;
    }

    p {
        font-size: 14px;
    }

    .icon {
        width: 20px;
        padding: 0 5px;
    }
}
